body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.linkColor {
  color: black !important;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#reviewComments{
  height: 100px;
  width: 500px
}

#reviewForm{
  width: 500px
}

.order_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-title {
  margin-left: 0.5em;
}

.auth-button {
  align-items: center;
  margin: 30px;
}

#login-button {
  margin-left: 0.9em;
}

#error-message {
  color: #d82a13;
  margin-bottom: 30px;
}

.admin-home {
  margin: 30px;
  display: flex;
}

.dashboard_menu {
  margin-right: 30px;
}

.card-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.button {
  display: flex;
  margin-top: 20px;
  width: 180px;
}

.single-card {
  margin: 20px;
}

.single-user-card {
  margin: 20px;
}

.single-card .content {
  height: 150px;
}

.single-card .extra.content {
  height: 58px;
}

.ui.tiny.right.floated.image {
  max-height: 70px
}

.edit-button {
  width: 140px;
}

.ui.green.basic.button {
  width: 125px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  margin: 5px 0;
  display: flex;
  color: gray;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

#category {
  margin: 0 5px;
}

.header {
  overflow: hidden;
  height: 47px;
}

form {
  display: flex;
  flex-direction: column;
}

.ui.form {
  width: 480px;
  height: 100%;
}

.inline.fields {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.admin_Categories_List {
  width: 60vw;
}

.admin_User_List {
  width: 70vw;
}

.products-column {
  display: flex;
  justify-content: center;
}

.flex-grid {
  /* column-count: 3;
  column-gap: 100px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px;
  grid-auto-rows: 1fr;
}

.col {
  /* flex: 1; */
  grid-column: 1;
  grid-row: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}
