body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.order_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-title {
  margin-left: 0.5em;
}

.auth-button {
  align-items: center;
  margin: 30px;
}

#login-button {
  margin-left: 0.9em;
}

#error-message {
  color: #d82a13;
  margin-bottom: 30px;
}

.admin-home {
  margin: 30px;
  display: flex;
}

.dashboard_menu {
  margin-right: 30px;
}

.card-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.single-card {
  margin: 20px;
}

.ui.card {
  height: 230px;
}

.products-column {
  display: flex;
  justify-content: center;
}

.flex-grid {
  /* column-count: 3;
  column-gap: 100px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px;
  grid-auto-rows: 1fr;
}

.col {
  /* flex: 1; */
  grid-column: 1;
  grid-row: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}
